<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="../CSS/alterar-o-email.css" media="screen" />
  <title>Quantum Life - Alterar Email</title>
</head>
<body>

  <header>
    <div class="container">
      <a href="../Quantum/Ediçãodeperfil.html"><img class="image-bar" src="../IMG/quantumlife 2.png" alt="Logo Quantum Life" /></a>
      <nav class="nav-bar">
        <a href="../HTML/home.html">PÁGINA INICIAL</a>
        <a href="../HTML/sobre.html">SOBRE</a>
        <a href="dieta.html">DIETA</a>
        <a href="treinos.html">TREINOS</a>
        <a href="../HTML/calculo-imc.html">IMC</a>
      </nav>     
      <button class="btn-entrar">ENTRAR</button> 
    </div>
  </header>

  <main>
    <div class="container-box">
      <div class="email-container">
        <div class="email-content">
          <h1 class="email-title">ALTERAR E-MAIL</h1>
          
          <form class="email-form">
            <div class="form-group">
              <label for="new-email" class="form-label">Novo e-mail</label>
              <input type="email" id="new-email" class="form-input" placeholder="Digite seu novo e-mail">
            </div>
            
            <div class="form-group">
              <label for="confirm-email" class="form-label">Confirmar e-mail</label>
              <input type="email" id="confirm-email" class="form-input" placeholder="Confirme seu novo e-mail">
            </div>
            
            <div class="form-actions">
              <a href="../HTML/Edição-de-perfil.html" class="btn-cancel"> CANCELAR </a>
              <button type="button" class="btn-confirm">CONFIRMAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="social-icons">
      <img src="../IMG/google.png" alt="Google" class="social-icon">
      <img src="../IMG/Facebook.png" alt="Facebook" class="social-icon">
      <img src="../IMG/Linkedin.png" alt="LinkedIn" class="social-icon">
    </div>
    <div class="footer-text">
      <p>© 2025 Feito Por Quantum Life.</p>
    </div>  
  </footer>

</body>
</html>