@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* Reset básico de margem, padding e box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte padrão da página */
body {
    font-family: "Inter", sans-serif;
}

/* Container centralizado, com fundo de imagem */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../IMG/Tela_de_Login_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Caixa principal que envolve login/cadastro */
.content {
    background-color: #ffffff;
    border-radius: 15px;
    width: 990px;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: #9FBFA1;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}

/* Define altura dos conteúdos das duas partes (login e cadastro) */
.first-content, .second-content {
    height: 80%;
}

/* Títulos */
.title {
    color: #333333;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-welcome {
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    padding-bottom: 32%;
    padding-top: 2%;
    letter-spacing: 2px;
   
}

.title-welcome-second {
    color: #fff;
    font-size: 34px;
    font-weight: 300;
    padding-bottom: 2%;
    padding-top: 4%;
    letter-spacing: 3px;
    padding-bottom: 30%;
    padding-left: 3%;
}

.title-Criar {
    font-size: 28px;
    color: black;
    font-weight: 400;
    letter-spacing: 10px;
    padding-bottom: 2%;
    padding-top: 6%;
    margin-bottom: -3rem;
}

.title-login {
    color: black;
    font-weight: 400;
    letter-spacing: 10px;
    padding-bottom: 2%;
    padding-top: 10%;
}

/* Descrições */
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary {
    color: #fff;
}

.description-second {
    color: rgb(202, 202, 202);
}

/* Botões */
.btn {
    border-radius: 18px;
    color: #ffffff;
    font-size: 14px;
    padding: 9px 50px;
    cursor: pointer;
    width: 150px;
    align-self: center;
    border-width: 0;
    margin: 1rem;
    letter-spacing: 2px;
    font-weight: 500;
}

.content-button-login{
    padding-left: 3%;
    padding-bottom: 40%;
}

.btn-primary-style {
    border-radius: 20px;
    color: #ffffff;
    font-size: 15px;
    padding: 0.6rem 3rem;
    cursor: pointer;
    width: 150px;
    align-self: center;
    text-align: center;
    border-width: 0;
    margin: 1rem;
    padding-right: 36%;
    white-space: nowrap;
    font-weight: 550;
    letter-spacing: 2px;
}



.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color 1s;
}

.content-button-sigin {
    padding-bottom: 30%;
}

.btn-primary:hover {
    background-color: #fff;
    color: #9FBFA1;
}

.btn-second a {
    text-decoration: none;
    color: white;
}

.btn-second-style {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
    height: 40px; /* altura definida para centralização vertical */
    cursor: pointer;
    width: 180px;
    border-width: 0;
    margin: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    padding: 0 1rem; /* padding lateral simétrico */
}

.btn-second-style-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
    height: 40px; /* altura definida para centralização vertical */
    cursor: pointer;
    width: 190px;
    border-width: 0;
    margin: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    padding: 0 1rem; /* padding lateral simétrico */
}

.btn-second-container{
    padding-left: 34%;
    padding-right: 26%;
    padding-bottom: 4%;
    margin-bottom: -0.4rem;
}

.btn-second-container-cadastro{
    padding-left: 32%;
    padding-right: 26%;
    padding-bottom: 4%;
    margin-top: -2rem;

}

.btn-second {
    background-color: #A6C9A9;
    border: 1px solid #A6C9A9;
    transition: background-color 1s;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid #A6C9A9;
    color: #8a8a8a;
}

/* Estrutura de colunas */
.first-content {
    display: flex;
}

.first-content .second-colum {
    z-index: 11;
}

.first-colum {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.second-colum {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3%;
    padding-left: 3%;
    
    background-image: url('../IMG/logo-tranparente.png'); /* caminho da sua imagem */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* ou cover, se preferir ocupar mais */
    opacity: 0.95; /* deixa o conteúdo levemente transparente */
    position: relative;
    background-size: 350px; /* ✅ diminui o tamanho da imagem */
    
}

/* Redes sociais */
.social-media {
    margin: 1rem 0;
}

.link-social-media:hover .item-social-midia {
    color: #fff;
    border-color: rgb(222, 210, 255);
}

.link-social-media:not(:first-child) {
    margin-left: 10px;
}

.link-social-media .item-social-midia {
    transition: background-color 1s;
}

.list-social-media {
    display: flex;
    list-style-type: none;
}

.list-social-media-second {
    display: flex;
    list-style-type: none;
    padding-right: 3%;
    margin-top: -0.8rem;
}

.item-social-midia {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    color: rgb(150, 150, 150);
    padding-right: 40%;
}

.fa-brands {
    width: 25px;
    height: 25px;
}

.fa-brands-second {
    width: 28px;
    height: 28px;
    
}

.fa-linkedin-second {
    width: 32px;
    height: 32px;
}

/* Formulário */
.form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.password-input {
    width: 95%;
    max-width: 350px;
    height: 40px;
    padding: 0 15px;
    font-size: 1rem;
    border: 1px solid #000;
    border-radius: 25px;
    outline: none;
    margin-bottom: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 559px;
    margin-right: 6%;
}

.login-form-second{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 559px;
    margin-right: 6%;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    width: 65%;
    border: 1px solid black;
    border-radius: 65px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 40px;
    margin-left: 20%;
    align-items: center;
    padding-top: 0%;
    
}

.input-icon {
    height: 28px;
    width: 34px;
    padding-left: 2%;
}

.input-icon-email {
    height: 32px;
    width: 38px;
    padding-left: 2%;
}

/* 🔄 LINHA VERTICAL dentro do input */
.input-divider {
    margin: 0 1.25rem;
    width: 1px;
    height: 30px;
    background-color: black;
    position: absolute;
    left: 10.5rem; /* 🔄 Adicionado para mover a linha para a direita */
}

.input-divider-second{
    margin: 0 1.25rem;
    width: 1px;
    height: 30px;
    background-color: black;
    position: absolute;
    right: 23.9rem; /* 🔄 Adicionado para mover a linha para a direita */
}

.form-input {
    flex: 1;
    font-size: 1rem;            /* Reduzido de 1.5rem */
    border: none;
    color: #64748b;
    letter-spacing: 3px;      /* Reduzido de 7.2px */
    outline: none;
    background: transparent;
    text-align: center;
    align-items: center;
    padding-right: 12%;    
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1.6rem; /* reduz a distância vertical */
    padding: 2 22%;       /* alinha com os inputs */
    margin-bottom: -2rem;
}

.remember-option {
    display: flex;
    gap: 0.1rem;
    align-items: center;
    font-size: 0.875rem; /* Reduzido de 1.5rem */
    color: #313056;
    letter-spacing: 1.5px; /* Reduzido de 3.6px */
    padding-left: 24%;
}

.checkbox {
    width: 1.25rem; /* antes 1.25rem */
    height: 0.8rem;
    accent-color: #8E8E8E;
}   

.forgot-password {
    text-decoration: none;
    font-size: 0.875rem; /* Reduzido de 1.5rem */
    cursor: pointer;
    color: #313056;
    letter-spacing: 1.5px; /* Reduzido de 3.6px */
    padding-right: 16%;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

/* Segunda parte (cadastro) */
.second-content {
    position: absolute;
    display: flex;
}

.second-content .first-colum {
    order: 2;
    z-index: -1;
}

.second-content .second-colum {
    order: 1;
    z-index: -1;
}

.password {
    color: #2c3e50;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.password::first-letter {
    text-transform: capitalize;
}

/* Classes de animação via JS */
.sign-in-js .first-content .first-colum {
    z-index: -1;
}

.sign-in-js .second-content .second-colum {
    z-index: 11;
}

.sign-in-js .second-content .first-colum {
    z-index: 13;
}

.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 0.5s;
    z-index: 12;
}

.sign-up-js .content::before {
    animation: slideout 0.5s;
    z-index: 12;
}

.sign-up-js .second-content .first-colum,
.sign-up-js .second-content .second-colum {
    z-index: -1;
}

.sign-up-js .first-content .second-colum {
    z-index: 11;
}

.sign-up-js .first-content .first-colum {
    z-index: 13;
}

.sign-in-js .first-content .second-colum {
    z-index: -1;
    position: relative;
    animation: deslocamentoleft 0.5s;
}

.sign-up-js .second-content .second-colum {
    position: relative;
    z-index: -1;
    animation: deslocamentoright 0.5s;
}

/* Keyframes */
@keyframes deslocamentoleft {
    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }
    25% {
        left: -80px;
        opacity: .5;
    }
    50% {
        left: 100px;
        opacity: .2;
    }
    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes deslocamentoright {
    from {
        left: 0;
        z-index: 12;
    }
    25% {
        left: 80px;
    }
    50% {
        left: 100px;
    }
    to {
        left: 110px;
        z-index: -1;
    }
}

@keyframes slidein {
    from {
        left: 0;
        width: 40%;
    }
    25% {
        left: 5%;
        width: 50%;
    }
    50% {
        left: 25%;
        width: 60%;
    }
    75% {
        left: 45%;
        width: 50%;
    }
    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {
    from {
        left: 60%;
        width: 40%;
    }
    25% {
        left: 45%;
        width: 50%;
    }
    50% {
        left: 25%;
        width: 60%;
    }
    75% {
        left: 5%;
        width: 50%;
    }
    to {
        left: 0;
        width: 40%;
    }
}
