@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../IMG/Tela_de_Login_1.png),
    url(../IMG/quantumlife\ 2.png);
  background-size: cover, 300px;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  flex-wrap: wrap; /* Permite que os elementos se ajustem em telas menores */
}

.content {
  position: relative;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
  width: 930px;
  max-width: 100%;
  height: 29.5rem;
  padding: 90px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.content::before {
  content: "";
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../IMG/quantumlife\ 2.png);
  background-size: 310px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content * {
  position: relative;
  z-index: 1;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 10px;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #313056;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 5px;
}

.password-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-text {
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  color: #313056;
  width: 80%;
  max-width: 330px;
  margin-top: 10px;
  margin-bottom: 5px;
  letter-spacing: 0.1rem;
  text-align: left;
}

.password-input {
  width: 80%;
  max-width: 330px;
  height: 40px;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #000;
  border-radius: 25px;
  outline: none;
  margin-bottom: 8px;
  text-align: center;
  background-color: transparent;
}

.password-input:focus {
  border-color: #98b89c;
}

.confirm-button {
  background-color: #98b89c;
  color: #000;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 0.95rem;
  text-transform: uppercase;
  border-radius: 65px;
  padding: 10px 35px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  letter-spacing: 2px;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background-color: #fff;
  border: 1px solid #a6c9a9;
  color: #8a8a8a;
}

@media (max-width: 768px) {
  .content {
    padding: 50px;
    height: auto; /* Ajusta a altura conforme necessário */
  }
}

@media (max-width: 480px) {
  .content {
    padding: 20px;
  }
}
