{% load static %}.
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/home.css' %}" media="screen" />
  <link rel="icon" href="{% static '/IMG/quantumlife 2.png' %}">
  <title>Quantum Life</title>
</head>
<body>
  <header>
    <div class="container">
      <a href="../HTML/home.html"><img class="image-bar" src="{% static '/IMG/quantumlife 2.png' %}" alt="Logo" /></a>
      <nav class="nav-bar">
         <a href="../HTML/home.html">PÁGINA INICIAL</a>
          <a href="../HTML/sobre.html">SOBRE</a>
          <a href="dieta.html">DIETA</a>
          <a href="treinos.html">TREINOS</a>
          <a href="../HTML/calculo-imc.html">IMC</a>
      </nav>     
      <button class="btn-entrar">ENTRAR</button> 
    </div>
  </header>

  <section class="hero">
    <div class="hero-text">
      <h1>Quantum Life</h1>
      <p>"Seu bem-estar em um clique: <br> IMC, dietas e treino personalizados!"</p>
    </div>
    <img class="hero-image" src="{% static '/IMG/Logo-Branca-removebg-preview.png' %}" alt="Imagem principal" />
  </section>

  <section class="section-row">
    <div class="image-dieta">
      <img src="{% static 'IMG/image 4.png' %}" alt="Imagem Dieta" />
    </div>
    <div class="section-text-Dieta">
      <img class="Dieta-Icon" src="{% static 'IMG/Icon Dieta_87x70.png' %}" alt="Ícone Dieta" class="Ícone Dieta" />
      <div class="Dieta-Title-container">
      <h2 class="Dieta-Title">Dietas Personalizadas</h2>
    </div>  
      <p class="Dieta-P">No Quantum Life, criamos dietas personalizadas com base no seu perfil e objetivos. Através de um quiz interativo e inteligência artificial.</p>
      <div class="Dieta-button">
      <a href=""><div class="button">Realize o Quiz</div></a>
    </div>
    </div>
  </section>

  <section class="section-row" style="flex-direction: row-reverse;">
    <div class="image-treino">
      <img src="{% static '/IMG/image 6.png' %}" alt="Imagem Treino" />
    </div>
    <div class="section-text-treino">
      <div class="Treino-Icon">
      <img src="{% static '/IMG/Treino Icon.png' %}" alt="Ícone Treino" />
    </div>
      <h2 class="Treino-Title">Treinos Personalizados</h2>
      <p class="Treino-P">Treinos baseados em seus objetivos Treinos para bulking no seu perfil e objetivos. Através de um quiz interativo e inteligência artificial"</p>
      <div class="button">Treino Ideal</div>
    </div>
  </section>

  <section class="section-row">
    <div class="image-imc">
      <img src="{% static '/IMG/medico.png' %}" alt="Imagem Treino" />
      <div class="Imc-Title-container">
      <h2 class="Imc-Title">Cálculo IMC</h2>
      <div class="Imc-container">
      <div class="Imc-button-container">
      <a href="../HTML/calculo-imc.html"><div class="button-imc">Realize Seu Cálculo</div></a>
    </div>
    </div> 
    </div>
  </section>

  <footer>
    <div class="social-icons">
      <img src="{% static '/IMG/google.png' %}" alt="Social 1">
      <img src="{% static '/IMG/Facebook.png' %}" alt="Social 2">
      <img src="{% static '/IMG/Linkedin.png' %}" alt="Social 3">
    </div>
    <div class="footer-text">
      <p>© 2025 Feito Por Quantum Life.</p>
  </div>  
  </footer> 
</body>
</html>
